body {
	/*add background image*/
	background-image: url('chicago.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*Add box for sign-up form*/
.box {
	padding: 2.5rem;
	background-color: #D3D3D3;
	width: 480px;
	height: 336px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

.heading1 {
	font-size: 36px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;	
}

.label1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.input1 {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
	width: 330px;
	height: 36px;
	font-size: 16px;
}

form {
	display: table;
}

label {
	display: table-cell;
}

input {
	display: table-cell;
}

#label1: hover {
	background-color: #F5F5F5;

}
