body {
	/*add background image*/
	background-image: url('chicago.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*Add box for sign-up form*/
.box {
	padding: 2.5rem;
	background-color: #D3D3D3;
	width: 480px;
	height: 336px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	border: 0.25rem solid;
}

.heading1 {
	font-size: 36px;
	text-align: center;
	font-family: 'Roboto', 'Arial';
	margin-top: 40px;	
	font-weight: bold;
}

.label1 {
	font-family: 'Roboto', 'Arial';
	font-size: 20px;
	font-weight: bold;
}

.input1 {
	font-family: 'Roboto', 'Arial';
	margin-bottom: 15px;
	margin-top: 5px;
	width: 330px;
	height: 36px;
	font-size: 16px;
}

form {
	display: table;
}

label {
	display: table-cell;
}

input {
	display: table-cell;
}

#label1:hover {
	background-color: #F5F5F5;
}

/*Add two media queries here*/
/*Media Query for Mobile Device*/
@media screen and (min-width: 320px) and (max-width: 480px) {

	.heading1 {
		font-size: 25px;
		text-align: center;
		font-family: 'Roboto', 'Arial';
		margin-top: 20px;	
		font-weight: bold;
	}

	.box {
		position: fixed;
		padding: 1.25rem;
		background-color: #D3D3D3;
		width: 200px;
		height: 320px;
		margin: 0 auto;
		position: absolute;
		top: 53%;
		/*left: 50%;
		transform: translate(-50%, -50%);*/
		border-radius: 5px;
		border: 0.25rem solid;
	}

	.label1 {
		font-family: 'Roboto', 'Arial';
		font-size: 15px;
		font-weight: bold;
	}

	.input1 {
		font-family: 'Roboto', 'Arial';
		margin-bottom: 15px;
		margin-top: 5px;
		width: 100%;
		height: 30px;
		font-size: 15px;
	}

}


/*Media Query for Larger Phones*/
@media screen and (min-width: 1080px) and (max-width: 1920px) {
	.heading1 {
		font-size: 30px;
		text-align: center;
		font-family: 'Roboto', 'Arial';
		margin-top: 40px;	
		font-weight: bold;
	}

	.box {
		top: 18%;
	}

}

/*Media Query for Desktops*/
@media (min-width: 1025px) {
	.box {
		padding: 1.25rem;
		background-color: #D3D3D3;
		width: 500px;
		height: 350px;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 5px;
		border: 0.25rem solid;
	}

}